---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=c2b5a4582c795703b930409fe96e1699&extras=&format=json&method=flickr.photos.search&nojsoncallback=1&page&per_page=50&sort=relevance&text=Bangkok
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="c2b5a4582c795703b930409fe96e1699", oauth_nonce="93c49694716bc28814501151dce05af1",
        oauth_signature="4FkfN0f95paPuttjcFrK4xd%2B394%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1524379146", oauth_token="", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="2oALgLKofTmeZvoZ1y/fSZg7R9jPMix8eVA6DH4o/q8="; pin-sha256="Gtk3r1evlBrs0hG3fm3VoM19daHexDWP//OCmeeMr5M=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
        pin-sha256="SVqWumuteCQHvVIaALrOZXuzVVVeS7f4FGxxu6V+es4="; pin-sha256="UZJDjsNp1+4M5x9cbbdflB779y5YRBcV6Z6rBMLIrO4=";
        pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw="; pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18=";
        pin-sha256="cAajgxHlj7GTSEIzIYIQxmEloOSoJq7VOaxWHfv72QM="; pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A=";
        pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY="; pin-sha256="iduNzFNKpwYZ3se/XV+hXcbUonlLw09QPa6AYUwpu4M=";
        pin-sha256="lnsM2T/O9/J84sJFdnrpsFp3awZJ+ZZbYpCWhGloaHI="; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":57373,"perpage":50,"total":"2868638","photo":[{"id":"4468378065","owner":"25700967@N05","secret":"7ff651b617","server":"4003","farm":5,"title":"Bangkok","ispublic":1,"isfriend":0,"isfamily":0},{"id":"26879348231","owner":"59394425@N05","secret":"a82b5aa2aa","server":"7297","farm":8,"title":"Bangkok","ispublic":1,"isfriend":0,"isfamily":0},{"id":"35583867336","owner":"29370225@N03","secret":"3de9c40c33","server":"4236","farm":5,"title":"bangkok","ispublic":1,"isfriend":0,"isfamily":0},{"id":"41097943091","owner":"126043053@N08","secret":"6131369a3a","server":"822","farm":1,"title":"Bangkok","ispublic":1,"isfriend":0,"isfamily":0},{"id":"7047209175","owner":"78666321@N06","secret":"5[...]
