---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=c2b5a4582c795703b930409fe96e1699&extras=&format=json&method=flickr.photos.search&nojsoncallback=1&page=2&per_page=50&sort=relevance&text=Bangkok
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="c2b5a4582c795703b930409fe96e1699", oauth_nonce="73a9fa0fe82e219a880673fc9883447c",
        oauth_signature="8jHgvt6s9lrj5yDVufm4lKzqT90%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1524413780", oauth_token="", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="2oALgLKofTmeZvoZ1y/fSZg7R9jPMix8eVA6DH4o/q8="; pin-sha256="Gtk3r1evlBrs0hG3fm3VoM19daHexDWP//OCmeeMr5M=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
        pin-sha256="SVqWumuteCQHvVIaALrOZXuzVVVeS7f4FGxxu6V+es4="; pin-sha256="UZJDjsNp1+4M5x9cbbdflB779y5YRBcV6Z6rBMLIrO4=";
        pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw="; pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18=";
        pin-sha256="cAajgxHlj7GTSEIzIYIQxmEloOSoJq7VOaxWHfv72QM="; pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A=";
        pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY="; pin-sha256="iduNzFNKpwYZ3se/XV+hXcbUonlLw09QPa6AYUwpu4M=";
        pin-sha256="lnsM2T/O9/J84sJFdnrpsFp3awZJ+ZZbYpCWhGloaHI="; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":2,"pages":57375,"perpage":50,"total":"2868711","photo":[{"id":"27308476660","owner":"110839836@N07","secret":"1a11f647a6","server":"7790","farm":8,"title":"Bangkok","ispublic":1,"isfriend":0,"isfamily":0},{"id":"25589469941","owner":"97502594@N00","secret":"29e5183a85","server":"1626","farm":2,"title":"Bangkok","ispublic":1,"isfriend":0,"isfamily":0},{"id":"25676553073","owner":"97502594@N00","secret":"82ebc09091","server":"1608","farm":2,"title":"Bangkok","ispublic":1,"isfriend":0,"isfamily":0},{"id":"25919563831","owner":"97502594@N00","secret":"93989a884a","server":"1447","farm":2,"title":"Bangkok","ispublic":1,"isfriend":0,"isfamily":0},{"id":"35502372285","owner":"27656681@N00","secret":"[...]
